*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
.logo{
    width: 120px;
    height: 50px;
}
.A1{
    margin: auto;
    text-align: left;
}
.A1 i{
    font-size: 30px;
}
.A2{
    margin: auto;
    text-align: center;
}
.A3{
    margin: auto;
    text-align: right;
}
.button{
    border: 1px solid green;
    background-color: white;
    padding:  5px 15px;
}
.A3 button i{
    font-size: 15px;
}
.A3 button i span{
    font-size: 12px;
}
.A1{
    padding: 15px 0;
}
.A3{
    padding: 12px 0;
}
.A2{
    padding: 5px 0;
}
.img{
    background-image: url('images/b1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
}
.A4{
    padding-top: 180px;
}
.A4 p{
    color: white;
    font-size: 25px;
}
.A5 p{
    color: white;
    font-size: 50px;
}
.A6 button{
    border: none;
    background-color: #38e938;
    padding: 8px 20px;
}
.A6{
    padding-bottom: 150px;
}
.A7, .A8, .A9{
    padding-top: 30px;
}
.A71, .A81, .A91{
    padding-bottom: 30px;
}
.A7 i{
    background-image: url('images/singlebag.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: gray;
    border-radius: 50%;
    color: white;
    border: 2px solid green;
    padding: 50px;
    font-size: 30px;
}
.A7, .A71{
    margin: auto;
    text-align: right;
}
.A71 p{
    padding-right: 30px;
}
.A8, .A81{
    margin: auto;
    text-align: center;
}
.A8 i{
    background-image: url('images/multibag.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: gray;
    border-radius: 50%;
    color: white;
    border: 2px solid green;
    padding: 50px;
    font-size: 30px;
}
.A9, .A91{
    margin: auto;
    text-align: left;
}
.A9 i{
    background-image: url('images/tourbus.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    border: 2px solid green;
    padding: 50px;
    font-size: 30px;
    color: white;
}
.A91 p{
    padding-left: 10px;
}
.img1{
    background-image: url('images/sky.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    padding: 100px 0;
}
.A10{
    position: relative;
    padding-top: 55px;
    margin-right: -100px;
}
.A11{
    background-color: white;
}
.A12 p{
    font-size: 44px;
    line-height: 1;
    padding-left: 30px;
    color: green;
}
.A13 p, .A14 p{
    padding-left: 30px;
    padding-right: 10px;
    line-height: 1;
}
.A15 button{
    border: none;
    background-color: #5bcc5b;
    color: white;
    padding: 5px 10px;
}
.A15{
    text-align: right;
}
.elephant{
    width: 680px;
    height: 400px;
}
@media only screen and (max-width: 576px){
    .A10{
        margin-right: 0;
    }
    .elephant{
        width: 525px;
        height: auto;
    }
    .A4 p{
        color: green;
    }
}