*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
img{
    max-width: 100%;
}
.logo{
    width: 300px;
    height: 50px;
}
.A1 i{
    font-size: 30px;
    margin-top: 8px;
}
.A1{
    padding: 10px 0;
}
.A2{
    padding: 10px 0;
    text-align: center;
}
.A3{
    padding: 10px 0;
    text-align: right;
}
.A3 button{
    background-color: white;
    max-width: 100%;
    border: 2px solid green;
    padding: 12px;
}
.img{
    background-image: url('images/b1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    max-width: 100%;
    padding: 200px 0;
}
.A4 p{
    font-size: 25px;
    color: white;
    letter-spacing: 5px;
}
.A5 p{
    font-size: 50px;
    color: white;
    word-spacing: 5px;
    line-height: 1.2;
    letter-spacing: 5px;
}
.A6{
    padding-top: 10px;
}
.A6 button{
    border: none;
    background-color: #38e938;
    padding: 8px 30px;
    color: white;
}
.A7 i{
    background-image: url('images/singlebag.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    color: white;
    border: 2px solid green;
    padding: 50px;
    font-size: 30px;
}
.A8 i{
    background-image: url('images/multibag.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    color: white;
    border: 2px solid green;
    padding: 50px;
    font-size: 30px;
}
.A9 i{
    background-image: url('images/tourbus.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    color: white;
    border: 2px solid green;
    padding: 50px;
    font-size: 30px;
}
.A7, .A71{
    text-align: right;
}
.A8, .A81{
    text-align: center;
}
.A7, .A8, .A9{
    padding-top: 30px;
}
.A71, .A81, .A91{
    padding-bottom: 30px;
}
.A71 p{
    padding-right: 15px;
}
.img1{
    background-image: url('images/sky.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 100%;
    padding: 100px 0;
}
.A11{
    background-color: white;
}
.A12 p{
    font-size: 44px;
    line-height: 1;
    color: green;
}
.A15{
    text-align: right;
}
.A15 button{
    border: none;
    background-color: #65eb65;
    color: white;
    padding: 10px;
}
.elephant{
    width: 100%;
    height: 400px;
}
.A10{
    padding-top: 40px;
}
.A11{
    padding-top: 20px;
    position: relative;
    margin-right: -100px;
}
.A12 p, .A13 p, .A14 p{
    padding: 0 40px 0 45px;
}
@media only screen and (max-width: 768px){
    .A1{
        text-align: right;
    }
    .logo{
        width: 450px;
        height: 100px;
    }
    .A3{
        text-align: center;
    }
    .A6{
        text-align: center;
        padding-top: 50px;
    }
    .A7, .A71{
        text-align: center;
    }
    .A9, .A91{
        text-align: center;
    }
    .A71 p{
        padding-right: 0;
    }
    .A7, .A8, .A9{
        padding-top: 10px;
    }
    .A71, .A81, .A91{
        padding-bottom: 0;
    }
    .A11{
        margin-right: 0;
    }
}
