*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
.row{
    background: url('images/demo.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-width: 1200px;
    width: 100%;
    height: 800px;
}
.topleft{
    float: left;
}
.topleft1 p{
    color: white;
    margin: 0;
    padding-right: 5px;
}
.topleft1{
    display: flex;
}
.topright p{
    margin: 0;
}
.topright p i{
    border-radius: 50%;
    border: 1px solid white;
    color: white;
    font-size: 10px;
    padding: 2px;
}
.topright{
    float: right;
}
.A1{
    background-color: #1298f1;
    height: 20px;
}
.A2{
    margin: 0 auto;
    width: 80%;
    text-align: center;
}
@media only screen and (max-width: 576px){
    .topleft, .topright{
        float:none;
    }
    .topleft1{
        display: inline;
    }
    .A1{
        height: 60px;
    }
}